{% extends "patient/master.html.twig" %}
{% block title %}Delete File
{% endblock title %}
{% block addHead %}


{% endblock addHead %}
{% block header %}{% endblock %}
{% block content %}




<div class="container  bg-light p-4">
	<h1>Upload a File for Your Appointment: </h1>
	{% if errorList %}
		<ul>
			{% for error in errorList %}
				<li class="alert alert-danger" role="alert" style="list-style: none;">{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	<form method="POST" enctype="multipart/form-data">
		<table>
			<tr>
        		<td>Only pdf, jpg, and png files under 3MBs accepted.</td>
    		</tr>
			<tr>
				<th>Select a file : </th>
				<td>
					<input class="form-control" type="file" name="file"/>
				</td>
			</tr>
			<tr>
				<th>Please provide a brief description of the uploaded file :</th>
				<td>
					<input class="form-control" name="fileDescription" type="text" value={{ v.fileDescription}} >
				</td>
			</tr>
		</table>
		<button type="submit" class="btn btn-primary"> Upload File</button>
	</form>
	<div>

{% endblock content %}
{% block footer %}{% endblock footer %}