<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %} - Patient</title>
        	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <style>

		.table tbody tr.highlight td {
			background-color: #CFF5FF;
		}

		#downloadFile {
			color: white;
    		text-decoration: none;
		}
	
	</style>
	
			{% block addHead %}
			{% endblock %}
	</head>
	<body>
		<div id="centeredContent" class="container ">
			<header>
				<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
					<div class="container-fluid">
						<a class="navbar-brand" href="/">Click Clinic</a>
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav me-auto mb-2 mb-lg-0">
								<li class="nav-item">
									<a class="nav-link" aria-current="page" href="/patient">Dashboard</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" aria-current="page" href="/patient/account/update">My Account Info</a>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">My Consultations</a>
									<ul class="dropdown-menu">
										<li class="nav-item">
											<a class="dropdown-item" href="/patient/upcomingappointments">My Appointments</a>
										</li>
										<li class="nav-item">
											<a class="dropdown-item" href="/patient/bookappointment">Book Appointment</a>
										</li>
										<li class="nav-item" class="dropdown">
											<a class="dropdown-item" href="/patient/walkinregister">Walkin Register</a>
										</li>
										<li class="nav-item" class="dropdown">
											<a class="dropdown-item" href="/patient/updatewalkin">My Walkin</a>
										</li>
									</ul>
								</li>
                                <li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">My Medical Records</a>
									<ul class="dropdown-menu">
										<li class="nav-item">
											<a class="dropdown-item" href="/patient/prescriptions">My Prescriptions</a>
										</li>
										<li class="nav-item">
											<a class="dropdown-item" href="/patient/referrals">My Referrals</a>
										</li>
										<li class="nav-item">
											<a class="dropdown-item" href="/patient/viewfiles/paginated">My Files</a>
										</li>
									</ul>
								</li>
							</ul>
							<ul class="navbar-nav ">
								{% if userSession %}
									<span class="navbar-text">
										<p>You are logged in as
											{{ userSession.firstName }}.</p>
									</span>
									<div class="nav-item">
										<a class="nav-link" href="/logout">Logout</a>
									</div>

								{% else %}
									<span class="navbar-text">
										<p>You are not logged in.</p>
									</span>
									<div class="nav-item">
										<a class="nav-link" href="/login">Login</a>
									</div>

								{% endif %}
							</ul>
							<form class="d-flex"></form>
						</div>
					</div>
				</nav>
				{% block header %}{% endblock %}
			</header>
			<main class="bg-light p-4">
				{% if flashMessage %}
				<div class="row">
					{% if flashStatus == 'danger' %}
					<div class="flashMessage alert alert-danger m-2 text-center col-5 alert-dismissible fade show" >{{flashMessage}}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
					{% elseif flashStatus == 'success' %}
					<div class="flashMessage alert alert-success m-2 text-center col-5 alert-dismissible fade show" >{{flashMessage}}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
					{% else %}
					<div class="flashMessage alert alert-primary m-2 text-center col-5 alert-dismissible fade show" >{{flashMessage}}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
					</div>
					{% endif %}
					
				{% endif %}
				{% block content %}{% endblock %}
			</main>
			<footer>
				{% block footer %}{% endblock %}
			</footer>
		</div>
	</body>
</html>