{% extends "master.html.twig" %}
{% block title %}Error{% endblock title %}
{% block addHead %}{% endblock addHead %}
{% block header %}{% endblock %}
{% block content %}

<div class="container">
    <h1>Oops! There was an error.</h1>
    <p>Don't worry, our team of coding ninjas is already working on it!</p>
    <a href="/">Click to continue</a>. </p>
    <img src="/images/ninja2.png">
</div>
{% endblock content %}
{% block footer %}{% endblock footer %}
